# SMTP configuration
# For Gmail, use an App Password, not your normal password.
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_ADDRESS=kishansai1212l@gmail.com
EMAIL_PASSWORD=ksihansai0710
SENDER_NAME=AutoMail Pro


#For outlook use below
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
EMAIL_ADDRESS=your_outlook_email@outlook.com
EMAIL_PASSWORD=your_outlook_password_or_app_password
SENDER_NAME=Sai Kishan